In [1]:
import math

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('germany_houses.csv')
df

,Unnamed: 0,Price,Type,Living_space,Lot,Usable_area,Free_of_Relation,Rooms,Bedrooms,Bathrooms,...,Energy_source,Energy_certificate,Energy_certificate_type,Energy_consumption,Energy_efficiency_class,State,City,Place,Garages,Garagetype
0,0,498000.0,Multiple dwelling,106.00,229.0,NaN,01.10.2020,5.5,3.0,1.0,...,Gas,available,demand certificate,NaN,D,Baden-Württemberg,Bodenseekreis,Bermatingen,2.0,Parking lot
1,1,495000.0,Mid-terrace house,140.93,517.0,20.00,01.01.2021,6.0,3.0,2.0,...,NaN,not required by law,NaN,NaN,NaN,Baden-Württemberg,Konstanz (Kreis),Engen,7.0,Parking lot
2,2,749000.0,Farmhouse,162.89,82.0,37.62,01.07.2020,5.0,3.0,2.0,...,"Fernwärme, Bioenergie",available,demand certificate,NaN,B,Baden-Württemberg,Esslingen (Kreis),Ostfildern,1.0,Garage
3,3,259000.0,Farmhouse,140.00,814.0,NaN,nach Vereinbarung,4.0,NaN,2.0,...,Strom,available,demand certificate,NaN,G,Baden-Württemberg,Waldshut (Kreis),Bonndorf im Schwarzwald,1.0,Garage
4,4,469000.0,Multiple dwelling,115.00,244.0,NaN,sofort,4.5,2.0,1.0,...,Öl,available,demand certificate,NaN,F,Baden-Württemberg,Esslingen (Kreis),Leinfelden-Echterdingen,1.0,Garage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10547,10547,1495000.0,Special property,167.00,683.0,63.00,nach Vereinbarung,6.5,4.0,3.0,...,Fernwärme,available,consumption certificate,113.2,D,Bayern,München,Perlach,1.0,Garage
10548,10548,449000.0,Mid-terrace house,222.00,4000.0,NaN,NaN,6.0,5.0,3.0,...,Erdwärme,available,demand certificate,NaN,A+,Sachsen-Anhalt,Altmarkkreis Salzwedel,Henningen,4.0,Parking lot
10549,10549,678000.0,Mid-terrace house,142.00,377.0,NaN,31.07.2021,4.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Bayern,Augsburg (Kreis),Untermeitingen,2.0,Garage
10550,10550,419900.0,Mid-terrace house,120.83,501.0,NaN,sofort,5.0,NaN,1.0,...,NaN,available,demand certificate,NaN,A+,Sachsen-Anhalt,Börde (Kreis),Wolmirstedt,1.0,Garage
10551,10551,699000.0,Multiple dwelling,145.00,357.0,NaN,NaN,5.5,4.0,1.0,...,"Solar, Gas",available,demand certificate,NaN,A,Bayern,Augsburg (Kreis),Diedorf,2.0,Garage

In [4]:
df.columns

Index(['Unnamed: 0', 'Price', 'Type', 'Living_space', 'Lot', 'Usable_area',
       'Free_of_Relation', 'Rooms', 'Bedrooms', 'Bathrooms', 'Floors',
       'Year_built', 'Furnishing_quality', 'Year_renovated', 'Condition',
       'Heating', 'Energy_source', 'Energy_certificate',
       'Energy_certificate_type', 'Energy_consumption',
       'Energy_efficiency_class', 'State', 'City', 'Place', 'Garages',
       'Garagetype'],
      dtype='object')

In [5]:
df.describe()

,Unnamed: 0,Price,Living_space,Lot,Usable_area,Rooms,Bedrooms,Bathrooms,Floors,Year_built,Year_renovated,Energy_consumption,Garages
count,10552.000000,1.055200e+04,10552.000000,10552.000000,5568.000000,10552.000000,6878.000000,8751.000000,7888.000000,9858.000000,5349.000000,2433.000000,8592.000000
mean,5275.500000,5.566851e+05,216.721008,1491.659004,134.300424,7.388978,4.169817,2.308993,2.283976,1958.821465,2010.706300,117.663111,2.698673
std,3046.244354,6.087410e+05,172.421321,8582.361675,188.814089,5.378126,2.577169,1.742330,0.821288,55.958072,10.548651,54.023207,3.195068
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1300.000000,1900.000000,5.100000,1.000000
25%,2637.750000,2.500000e+05,130.000000,370.000000,48.000000,5.000000,3.000000,1.000000,2.000000,1935.000000,2006.000000,83.170000,1.000000
50%,5275.500000,4.052150e+05,176.775000,656.500000,80.000000,6.000000,4.000000,2.000000,2.000000,1971.000000,2015.000000,112.700000,2.000000
75%,7913.250000,6.550000e+05,250.000000,1047.000000,150.250000,8.000000,5.000000,3.000000,3.000000,1996.000000,2018.000000,146.000000,3.000000
max,10551.000000,1.300000e+07,5600.000000,547087.000000,4034.000000,170.000000,61.000000,44.000000,13.000000,2022.000000,2206.000000,503.940000,70.000000

In [6]:
df.shape

(10552, 26)

In [7]:
df.drop(['Unnamed: 0','Energy_certificate_type','Garagetype'],axis='columns',inplace=True)
df.drop(['Free_of_Relation','Heating','Condition'],axis='columns',inplace=True)
df.drop(['Living_space','Usable_area','Year_renovated','Year_built','Energy_source','Energy_certificate','Energy_efficiency_class','City','Place'],axis='columns',inplace=True)

In [8]:
df.columns

Index(['Price', 'Type', 'Lot', 'Rooms', 'Bedrooms', 'Bathrooms', 'Floors',
       'Furnishing_quality', 'Energy_consumption', 'State', 'Garages'],
      dtype='object')

In [9]:
df.shape

(10552, 11)

In [10]:
df.isna()

,Price,Type,Lot,Rooms,Bedrooms,Bathrooms,Floors,Furnishing_quality,Energy_consumption,State,Garages
0,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,True,False,True,False,False
2,False,False,False,False,False,False,False,True,True,False,False
3,False,False,False,False,True,False,False,False,True,False,False
4,False,False,False,False,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
10547,False,False,False,False,False,False,True,True,False,False,False
10548,False,False,False,False,False,False,False,True,True,False,False
10549,False,False,False,False,False,True,True,False,True,False,False
10550,False,False,False,False,True,False,False,False,True,False,False
10551,False,False,False,False,False,False,False,True,True,False,False

In [11]:
df.dtypes

Price                 float64
Type                   object
Lot                   float64
Rooms                 float64
Bedrooms              float64
Bathrooms             float64
Floors                float64
Furnishing_quality     object
Energy_consumption    float64
State                  object
Garages               float64
dtype: object

In [12]:
df.isna().sum()

Price                    0
Type                   402
Lot                      0
Rooms                    0
Bedrooms              3674
Bathrooms             1801
Floors                2664
Furnishing_quality    2726
Energy_consumption    8119
State                    1
Garages               1960
dtype: int64

In [13]:
import math

In [14]:
df['Bedrooms'] = df['Bedrooms'].fillna(df['Bedrooms'].mean())

In [15]:
df['Bathrooms'] = df['Bathrooms'].fillna(df['Bathrooms'].mean())

In [16]:
df['Floors'] = df['Floors'].fillna(df['Floors'].mean())

In [17]:
df['Energy_consumption'] = df['Energy_consumption'].fillna(df['Energy_consumption'].mean())

In [18]:
df['Garages'] = df['Garages'].fillna(df['Garages'].mean())

In [19]:
df.isna().sum()

Price                    0
Type                   402
Lot                      0
Rooms                    0
Bedrooms                 0
Bathrooms                0
Floors                   0
Furnishing_quality    2726
Energy_consumption       0
State                    1
Garages                  0
dtype: int64

In [20]:
df

,Price,Type,Lot,Rooms,Bedrooms,Bathrooms,Floors,Furnishing_quality,Energy_consumption,State,Garages
0,498000.0,Multiple dwelling,229.0,5.5,3.000000,1.000000,2.000000,normal,117.663111,Baden-Württemberg,2.0
1,495000.0,Mid-terrace house,517.0,6.0,3.000000,2.000000,2.283976,basic,117.663111,Baden-Württemberg,7.0
2,749000.0,Farmhouse,82.0,5.0,3.000000,2.000000,4.000000,NaN,117.663111,Baden-Württemberg,1.0
3,259000.0,Farmhouse,814.0,4.0,4.169817,2.000000,2.000000,basic,117.663111,Baden-Württemberg,1.0
4,469000.0,Multiple dwelling,244.0,4.5,2.000000,1.000000,2.283976,refined,117.663111,Baden-Württemberg,1.0
...,...,...,...,...,...,...,...,...,...,...,...
10547,1495000.0,Special property,683.0,6.5,4.000000,3.000000,2.283976,NaN,113.200000,Bayern,1.0
10548,449000.0,Mid-terrace house,4000.0,6.0,5.000000,3.000000,1.000000,NaN,117.663111,Sachsen-Anhalt,4.0
10549,678000.0,Mid-terrace house,377.0,4.0,3.000000,2.308993,2.283976,basic,117.663111,Bayern,2.0
10550,419900.0,Mid-terrace house,501.0,5.0,4.169817,1.000000,2.000000,normal,117.663111,Sachsen-Anhalt,1.0
10551,699000.0,Multiple dwelling,357.0,5.5,4.000000,1.000000,3.000000,NaN,117.663111,Bayern,2.0

In [21]:
df.dropna(inplace=True)

In [22]:
df.shape

(7517, 11)

In [23]:
df.isna().sum()

Price                 0
Type                  0
Lot                   0
Rooms                 0
Bedrooms              0
Bathrooms             0
Floors                0
Furnishing_quality    0
Energy_consumption    0
State                 0
Garages               0
dtype: int64

In [24]:
df.Type.unique()

array(['Multiple dwelling', 'Mid-terrace house', 'Farmhouse', 'Duplex',
       'Single dwelling', 'Special property', 'Bungalow', 'Villa',
       'Corner house', 'Residential property', 'Castle'], dtype=object)

In [25]:
df.Bathrooms = df.Bathrooms.astype(int)
df.Bedrooms = df.Bedrooms.astype(int)
df.Floors = df.Floors.astype(int)
df.Energy_consumption = df.Energy_consumption.astype(int)
df.Garages = df.Garages.astype(int)
df.Rooms = df.Bathrooms.astype(int)
df

,Price,Type,Lot,Rooms,Bedrooms,Bathrooms,Floors,Furnishing_quality,Energy_consumption,State,Garages
0,498000.0,Multiple dwelling,229.0,1,3,1,2,normal,117,Baden-Württemberg,2
1,495000.0,Mid-terrace house,517.0,2,3,2,2,basic,117,Baden-Württemberg,7
3,259000.0,Farmhouse,814.0,2,4,2,2,basic,117,Baden-Württemberg,1
4,469000.0,Multiple dwelling,244.0,1,2,1,2,refined,117,Baden-Württemberg,1
5,1400000.0,Mid-terrace house,860.0,2,4,2,3,basic,117,Baden-Württemberg,2
...,...,...,...,...,...,...,...,...,...,...,...
10541,820000.0,Mid-terrace house,1946.0,2,4,2,2,basic,117,Hessen,5
10542,399000.0,Farmhouse,160.0,1,4,1,2,basic,68,Hessen,2
10543,565000.0,Mid-terrace house,660.0,2,3,2,2,normal,117,Hessen,2
10549,678000.0,Mid-terrace house,377.0,2,3,2,2,basic,117,Bayern,2
10550,419900.0,Mid-terrace house,501.0,1,4,1,2,normal,117,Sachsen-Anhalt,1

In [26]:
df.Type.unique()

array(['Multiple dwelling', 'Mid-terrace house', 'Farmhouse', 'Duplex',
       'Single dwelling', 'Special property', 'Bungalow', 'Villa',
       'Corner house', 'Residential property', 'Castle'], dtype=object)

In [27]:
df.Furnishing_quality.unique()

array(['normal', 'basic', 'refined', 'luxus'], dtype=object)

In [28]:
df.State.unique()

array(['Baden-Württemberg', 'Rheinland-Pfalz', 'Hessen', 'Bayern',
       'Berlin', 'Brandenburg', 'Bremen', 'Niedersachsen', 'Hamburg',
       'Nordrhein-Westfalen', 'Mecklenburg-Vorpommern', 'Saarland',
       'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'],
      dtype=object)

In [29]:
df['rooms'] = df.Bedrooms + df.Rooms
df.drop(['Bedrooms','Rooms','Energy_consumption'],axis='columns',inplace=True)
df

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
0,498000.0,Multiple dwelling,229.0,1,2,normal,Baden-Württemberg,2,4
1,495000.0,Mid-terrace house,517.0,2,2,basic,Baden-Württemberg,7,5
3,259000.0,Farmhouse,814.0,2,2,basic,Baden-Württemberg,1,6
4,469000.0,Multiple dwelling,244.0,1,2,refined,Baden-Württemberg,1,3
5,1400000.0,Mid-terrace house,860.0,2,3,basic,Baden-Württemberg,2,6
...,...,...,...,...,...,...,...,...,...
10541,820000.0,Mid-terrace house,1946.0,2,2,basic,Hessen,5,6
10542,399000.0,Farmhouse,160.0,1,2,basic,Hessen,2,5
10543,565000.0,Mid-terrace house,660.0,2,2,normal,Hessen,2,5
10549,678000.0,Mid-terrace house,377.0,2,2,basic,Bayern,2,5
10550,419900.0,Mid-terrace house,501.0,1,2,normal,Sachsen-Anhalt,1,5

In [30]:
lower_limit, upper_limit = df.Price.mean() -3*df.Price.std(), df.Price.mean() + 3*df.Price.std()

In [31]:
df[(df.Price>upper_limit) | (df.Price<lower_limit)]

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
6,3500000.0,Duplex,5300.0,4,2,basic,Baden-Württemberg,7,8
27,2500000.0,Mid-terrace house,855.0,3,3,luxus,Baden-Württemberg,2,8
112,2490000.0,Villa,2247.0,2,4,luxus,Baden-Württemberg,7,9
218,3100000.0,Mid-terrace house,537.0,2,2,basic,Baden-Württemberg,1,6
258,4722000.0,Duplex,1414.0,13,2,basic,Baden-Württemberg,12,44
...,...,...,...,...,...,...,...,...,...
10003,2790000.0,Duplex,554.0,2,2,basic,Schleswig-Holstein,2,6
10118,4095000.0,Mid-terrace house,700.0,3,2,luxus,Schleswig-Holstein,1,7
10136,2450000.0,Single dwelling,736.0,3,3,luxus,Schleswig-Holstein,1,7
10346,2500000.0,Mid-terrace house,54403.0,2,2,basic,Schleswig-Holstein,2,6
10379,5575000.0,Single dwelling,850.0,4,2,luxus,Schleswig-Holstein,2,8

In [32]:
df1= df[(df.Price<upper_limit) & (df.Price>lower_limit)]

In [33]:
lower_limit, upper_limit = df1.Lot.mean() -3*df1.Lot.std(), df1.Lot.mean() + 3*df1.Lot.std()

In [34]:
df1[(df1.Lot>upper_limit) | (df1.Lot<lower_limit)]

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
185,1498000.0,Corner house,547087.0,1,2,normal,Baden-Württemberg,1,3
688,390000.0,Mid-terrace house,36715.0,2,1,basic,Baden-Württemberg,4,5
1311,2150000.0,Corner house,101000.0,7,3,normal,Bayern,2,15
1431,1580000.0,Mid-terrace house,52000.0,2,2,basic,Bayern,2,6
1519,725000.0,Corner house,47332.0,2,2,basic,Bayern,2,6
1757,1150000.0,Mid-terrace house,40287.0,2,2,normal,Bayern,7,8
1826,1420000.0,Duplex,188000.0,2,3,normal,Bayern,4,6
1993,1890000.0,Mid-terrace house,143432.0,4,3,luxus,Bayern,15,12
2235,1150000.0,Mid-terrace house,40287.0,2,2,normal,Bayern,7,8
2583,459000.0,Bungalow,38000.0,3,2,normal,Bayern,2,8
3160,279000.0,Residential property,63000.0,2,2,normal,Brandenburg,10,7
3189,0.0,Duplex,34997.0,2,2,basic,Brandenburg,2,6
3203,750000.0,Duplex,65648.0,2,2,basic,Brandenburg,2,5
3852,1750000.0,Bungalow,47000.0,4,3,normal,Hessen,4,16
4470,660000.0,Duplex,67000.0,3,2,normal,Mecklenburg-Vorpommern,2,6
4686,950000.0,Residential property,27843.0,2,2,normal,Mecklenburg-Vorpommern,4,6
5127,429000.0,Corner house,25798.0,2,2,basic,Niedersachsen,2,4
5342,330000.0,Corner house,37579.0,2,2,refined,Niedersachsen,31,6
5420,679000.0,Mid-terrace house,36239.0,3,1,normal,Niedersachsen,7,11
5976,549000.0,Residential property,72038.0,2,2,refined,Niedersachsen,2,6
5991,649000.0,Corner house,39000.0,1,2,normal,Niedersachsen,1,4
6749,1980000.0,Residential property,118000.0,2,2,normal,Nordrhein-Westfalen,2,6
7539,1500000.0,Villa,100000.0,3,2,luxus,Nordrhein-Westfalen,11,8
8097,390000.0,Mid-terrace house,100041.0,2,2,normal,Rheinland-Pfalz,2,5
9038,1990000.0,Bungalow,160000.0,5,2,luxus,Sachsen,4,12
10125,875000.0,Bungalow,41000.0,4,2,basic,Schleswig-Holstein,2,7

In [35]:
df2= df1[(df1.Lot<upper_limit) & (df1.Lot>lower_limit)]
df2

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
0,498000.0,Multiple dwelling,229.0,1,2,normal,Baden-Württemberg,2,4
1,495000.0,Mid-terrace house,517.0,2,2,basic,Baden-Württemberg,7,5
3,259000.0,Farmhouse,814.0,2,2,basic,Baden-Württemberg,1,6
4,469000.0,Multiple dwelling,244.0,1,2,refined,Baden-Württemberg,1,3
5,1400000.0,Mid-terrace house,860.0,2,3,basic,Baden-Württemberg,2,6
...,...,...,...,...,...,...,...,...,...
10541,820000.0,Mid-terrace house,1946.0,2,2,basic,Hessen,5,6
10542,399000.0,Farmhouse,160.0,1,2,basic,Hessen,2,5
10543,565000.0,Mid-terrace house,660.0,2,2,normal,Hessen,2,5
10549,678000.0,Mid-terrace house,377.0,2,2,basic,Bayern,2,5
10550,419900.0,Mid-terrace house,501.0,1,2,normal,Sachsen-Anhalt,1,5

In [36]:
lower_limit, upper_limit = df2.Bathrooms.mean() -3*df2.Bathrooms.std(), df2.Bathrooms.mean() + 3*df2.Bathrooms.std()

In [37]:
df2[(df2.Bathrooms>upper_limit) | (df2.Bathrooms<lower_limit)]

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
235,1250000.0,Duplex,2665.0,9,4,normal,Baden-Württemberg,8,17
342,1280000.0,Duplex,152.0,10,5,normal,Baden-Württemberg,2,14
353,1950000.0,Duplex,816.0,10,4,normal,Baden-Württemberg,3,31
420,1050000.0,Duplex,312.0,8,3,normal,Baden-Württemberg,2,16
458,645000.0,Duplex,646.0,8,3,normal,Baden-Württemberg,6,14
...,...,...,...,...,...,...,...,...,...
9709,65000.0,Duplex,466.0,9,3,basic,Sachsen-Anhalt,2,20
9840,850000.0,Duplex,1937.0,8,2,normal,Schleswig-Holstein,2,16
9993,729000.0,Duplex,2621.0,12,2,normal,Schleswig-Holstein,15,29
10088,169000.0,Multiple dwelling,323.0,22,2,normal,Schleswig-Holstein,1,25
10495,780000.0,Duplex,250.0,10,3,normal,Thüringen,2,25

In [38]:
df3= df2[(df2.Bathrooms<upper_limit) & (df2.Bathrooms>lower_limit)]
df3

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
0,498000.0,Multiple dwelling,229.0,1,2,normal,Baden-Württemberg,2,4
1,495000.0,Mid-terrace house,517.0,2,2,basic,Baden-Württemberg,7,5
3,259000.0,Farmhouse,814.0,2,2,basic,Baden-Württemberg,1,6
4,469000.0,Multiple dwelling,244.0,1,2,refined,Baden-Württemberg,1,3
5,1400000.0,Mid-terrace house,860.0,2,3,basic,Baden-Württemberg,2,6
...,...,...,...,...,...,...,...,...,...
10541,820000.0,Mid-terrace house,1946.0,2,2,basic,Hessen,5,6
10542,399000.0,Farmhouse,160.0,1,2,basic,Hessen,2,5
10543,565000.0,Mid-terrace house,660.0,2,2,normal,Hessen,2,5
10549,678000.0,Mid-terrace house,377.0,2,2,basic,Bayern,2,5
10550,419900.0,Mid-terrace house,501.0,1,2,normal,Sachsen-Anhalt,1,5

In [39]:
lower_limit, upper_limit = df3.Floors.mean() -3*df3.Floors.std(), df3.Floors.mean() + 3*df3.Floors.std()

In [40]:
df3[(df3.Floors>upper_limit) | (df3.Floors<lower_limit)]

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
75,838000.0,Duplex,2314.00,4,5,basic,Baden-Württemberg,3,8
168,826000.0,Duplex,564.00,3,0,basic,Baden-Württemberg,5,6
380,398000.0,Bungalow,96.00,2,5,basic,Baden-Württemberg,2,10
820,1450000.0,Duplex,227.27,4,5,normal,Baden-Württemberg,2,12
1151,349000.0,Duplex,128.00,4,5,basic,Baden-Württemberg,2,11
1298,890000.0,Bungalow,491.00,2,5,normal,Rheinland-Pfalz,3,6
1326,749000.0,Duplex,860.00,2,0,basic,Bayern,2,6
1341,375000.0,Duplex,1469.00,2,0,basic,Bayern,2,7
1428,565000.0,Farmhouse,360.00,2,5,normal,Bayern,1,6
1460,59900.0,Mid-terrace house,888.00,1,0,basic,Bayern,1,4
1461,158900.0,Mid-terrace house,288.00,1,0,basic,Bayern,1,5
1465,450000.0,Duplex,850.00,6,0,basic,Bayern,6,21
1468,129500.0,Mid-terrace house,855.00,2,0,basic,Bayern,2,6
1472,322000.0,Mid-terrace house,1075.00,3,0,basic,Bayern,3,10
1742,199000.0,Residential property,1074.00,1,5,refined,Bayern,8,7
2207,720000.0,Single dwelling,400.00,2,6,normal,Bayern,2,5
2227,1900000.0,Residential property,15.00,2,5,luxus,Bayern,1,4
2424,430000.0,Special property,650.00,2,0,luxus,Bayern,1,4
2444,770000.0,Bungalow,170.00,2,5,basic,Bayern,2,6
2608,865000.0,Single dwelling,464.00,2,5,normal,Bayern,1,6
3364,149500.0,Duplex,165.00,1,6,refined,Bremen,2,5
4017,649000.0,Single dwelling,650.00,3,6,basic,Hessen,2,7
4048,185000.0,Mid-terrace house,403.00,2,6,normal,Hessen,1,4
4224,1900000.0,Villa,2287.00,6,5,luxus,Hessen,3,12
4264,1650000.0,Duplex,773.00,2,6,refined,Hessen,12,6
4392,79000.0,Mid-terrace house,3319.00,1,0,normal,Mecklenburg-Vorpommern,2,2
4661,85000.0,Special property,100.00,1,0,normal,Mecklenburg-Vorpommern,2,3
4837,249900.0,Special property,688.00,2,0,normal,Niedersachsen,2,5
6195,400000.0,Duplex,286.00,5,5,normal,Nordrhein-Westfalen,2,14
6198,780000.0,Duplex,307.00,6,5,normal,Nordrhein-Westfalen,2,10
6363,569000.0,Farmhouse,323.00,2,8,luxus,Nordrhein-Westfalen,3,6
7014,415000.0,Farmhouse,200.00,1,6,normal,Nordrhein-Westfalen,3,5
7048,2200000.0,Duplex,300.00,2,6,basic,Nordrhein-Westfalen,2,6
7703,890000.0,Bungalow,491.00,2,5,normal,Rheinland-Pfalz,3,6
7892,835000.0,Duplex,1849.00,2,5,basic,Rheinland-Pfalz,27,6
8106,79500.0,Farmhouse,89.00,1,5,refined,Rheinland-Pfalz,1,4
8560,1100000.0,Residential property,581.50,4,5,luxus,Rheinland-Pfalz,9,8
8870,0.0,Duplex,12000.00,2,5,luxus,Saarland,20,6
8876,0.0,Duplex,12000.00,2,5,luxus,Saarland,20,6
8891,890000.0,Bungalow,491.00,2,5,normal,Rheinland-Pfalz,3,6
9032,550000.0,Duplex,1000.00,2,5,normal,Sachsen,4,6
9175,500000.0,Residential property,50.00,1,5,normal,Sachsen,2,5
9244,380000.0,Mid-terrace house,580.00,1,0,normal,Sachsen,1,5
9498,98000.0,Mid-terrace house,2388.00,1,0,normal,Sachsen-Anhalt,2,2
9735,1850000.0,Duplex,351.00,2,5,basic,Sachsen-Anhalt,2,6
10462,599999.0,Residential property,7000.00,2,8,refined,Thüringen,50,6

In [41]:
df4= df3[(df3.Floors<upper_limit) & (df3.Floors>lower_limit)]
df4

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
0,498000.0,Multiple dwelling,229.0,1,2,normal,Baden-Württemberg,2,4
1,495000.0,Mid-terrace house,517.0,2,2,basic,Baden-Württemberg,7,5
3,259000.0,Farmhouse,814.0,2,2,basic,Baden-Württemberg,1,6
4,469000.0,Multiple dwelling,244.0,1,2,refined,Baden-Württemberg,1,3
5,1400000.0,Mid-terrace house,860.0,2,3,basic,Baden-Württemberg,2,6
...,...,...,...,...,...,...,...,...,...
10541,820000.0,Mid-terrace house,1946.0,2,2,basic,Hessen,5,6
10542,399000.0,Farmhouse,160.0,1,2,basic,Hessen,2,5
10543,565000.0,Mid-terrace house,660.0,2,2,normal,Hessen,2,5
10549,678000.0,Mid-terrace house,377.0,2,2,basic,Bayern,2,5
10550,419900.0,Mid-terrace house,501.0,1,2,normal,Sachsen-Anhalt,1,5

In [42]:
lower_limit, upper_limit = df4.Garages.mean() -3*df4.Garages.std(), df4.Garages.mean() + 3*df4.Garages.std()

In [43]:
df4[(df4.Garages>upper_limit) | (df4.Garages<lower_limit)]

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
9,1900000.0,Duplex,933.0,2,3,basic,Baden-Württemberg,12,6
34,1650000.0,Duplex,950.0,2,2,basic,Baden-Württemberg,10,6
40,399000.0,Duplex,1725.0,3,3,normal,Baden-Württemberg,10,8
104,890000.0,Duplex,2003.0,2,2,basic,Baden-Württemberg,11,6
175,1690000.0,Bungalow,1000.0,2,3,refined,Baden-Württemberg,20,22
...,...,...,...,...,...,...,...,...,...
10324,950000.0,Duplex,2590.0,2,1,refined,Schleswig-Holstein,15,5
10378,311600.0,Bungalow,22613.0,2,1,refined,Schleswig-Holstein,15,6
10476,198000.0,Mid-terrace house,700.0,2,2,normal,Thüringen,10,6
10510,85000.0,Duplex,770.0,2,2,basic,Thüringen,10,6
10517,169000.0,Duplex,2560.0,3,3,basic,Thüringen,10,9

In [44]:
df5= df4[(df4.Garages<upper_limit) & (df4.Garages>lower_limit)]
df5

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
0,498000.0,Multiple dwelling,229.0,1,2,normal,Baden-Württemberg,2,4
1,495000.0,Mid-terrace house,517.0,2,2,basic,Baden-Württemberg,7,5
3,259000.0,Farmhouse,814.0,2,2,basic,Baden-Württemberg,1,6
4,469000.0,Multiple dwelling,244.0,1,2,refined,Baden-Württemberg,1,3
5,1400000.0,Mid-terrace house,860.0,2,3,basic,Baden-Württemberg,2,6
...,...,...,...,...,...,...,...,...,...
10541,820000.0,Mid-terrace house,1946.0,2,2,basic,Hessen,5,6
10542,399000.0,Farmhouse,160.0,1,2,basic,Hessen,2,5
10543,565000.0,Mid-terrace house,660.0,2,2,normal,Hessen,2,5
10549,678000.0,Mid-terrace house,377.0,2,2,basic,Bayern,2,5
10550,419900.0,Mid-terrace house,501.0,1,2,normal,Sachsen-Anhalt,1,5

In [45]:
lower_limit, upper_limit = df5.rooms.mean() -3*df5.rooms.std(), df5.rooms.mean() + 3*df5.rooms.std()

In [46]:
df5[(df5.rooms>upper_limit) | (df5.rooms<lower_limit)]

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
162,1290000.0,Duplex,743.00,5,2,normal,Baden-Württemberg,9,13
170,740000.0,Duplex,1927.00,5,2,normal,Baden-Württemberg,2,15
248,1475000.0,Duplex,479.00,4,3,basic,Baden-Württemberg,2,14
294,649000.0,Duplex,1678.00,5,4,basic,Baden-Württemberg,6,14
377,1290000.0,Villa,365.00,4,4,normal,Baden-Württemberg,1,14
...,...,...,...,...,...,...,...,...,...
9789,37300.0,Duplex,980.00,1,3,refined,Sachsen-Anhalt,2,31
10184,798000.0,Mid-terrace house,865.00,4,3,normal,Schleswig-Holstein,5,17
10311,520000.0,Mid-terrace house,2315.01,1,1,normal,Schleswig-Holstein,2,15
10321,665000.0,Residential property,10928.00,5,2,basic,Schleswig-Holstein,3,16
10425,144000.0,Corner house,2266.00,3,2,refined,Thüringen,2,13

In [47]:
df6= df5[(df4.rooms<upper_limit) & (df5.rooms>lower_limit)]
df6

C:\Users\k.belhadj\AppData\Local\Temp\ipykernel_14444\634119643.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df6= df5[(df4.rooms<upper_limit) & (df5.rooms>lower_limit)]

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms
0,498000.0,Multiple dwelling,229.0,1,2,normal,Baden-Württemberg,2,4
1,495000.0,Mid-terrace house,517.0,2,2,basic,Baden-Württemberg,7,5
3,259000.0,Farmhouse,814.0,2,2,basic,Baden-Württemberg,1,6
4,469000.0,Multiple dwelling,244.0,1,2,refined,Baden-Württemberg,1,3
5,1400000.0,Mid-terrace house,860.0,2,3,basic,Baden-Württemberg,2,6
...,...,...,...,...,...,...,...,...,...
10541,820000.0,Mid-terrace house,1946.0,2,2,basic,Hessen,5,6
10542,399000.0,Farmhouse,160.0,1,2,basic,Hessen,2,5
10543,565000.0,Mid-terrace house,660.0,2,2,normal,Hessen,2,5
10549,678000.0,Mid-terrace house,377.0,2,2,basic,Bayern,2,5
10550,419900.0,Mid-terrace house,501.0,1,2,normal,Sachsen-Anhalt,1,5

In [48]:
dummies = pd.get_dummies(df6.Type)
dummies.head(3)

,Bungalow,Castle,Corner house,Duplex,Farmhouse,Mid-terrace house,Multiple dwelling,Residential property,Single dwelling,Special property,Villa
0,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False

In [49]:
dummies1 = pd.get_dummies(df6.State)
dummies1.head(3)

,Baden-Württemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [50]:
df7 = pd.concat([df6,dummies, dummies1],axis='columns')
df7.head()

,Price,Type,Lot,Bathrooms,Floors,Furnishing_quality,State,Garages,rooms,Bungalow,...,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen
0,498000.0,Multiple dwelling,229.0,1,2,normal,Baden-Württemberg,2,4,False,...,False,False,False,False,False,False,False,False,False,False
1,495000.0,Mid-terrace house,517.0,2,2,basic,Baden-Württemberg,7,5,False,...,False,False,False,False,False,False,False,False,False,False
3,259000.0,Farmhouse,814.0,2,2,basic,Baden-Württemberg,1,6,False,...,False,False,False,False,False,False,False,False,False,False
4,469000.0,Multiple dwelling,244.0,1,2,refined,Baden-Württemberg,1,3,False,...,False,False,False,False,False,False,False,False,False,False
5,1400000.0,Mid-terrace house,860.0,2,3,basic,Baden-Württemberg,2,6,False,...,False,False,False,False,False,False,False,False,False,False

In [51]:
df8 = df7.drop(['Type','Furnishing_quality','State'],axis='columns')
df8.head(2)

,Price,Lot,Bathrooms,Floors,Garages,rooms,Bungalow,Castle,Corner house,Duplex,...,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen
0,498000.0,229.0,1,2,2,4,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,495000.0,517.0,2,2,7,5,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [52]:
df8.columns

Index(['Price', 'Lot', 'Bathrooms', 'Floors', 'Garages', 'rooms', 'Bungalow',
       'Castle', 'Corner house', 'Duplex', 'Farmhouse', 'Mid-terrace house',
       'Multiple dwelling', 'Residential property', 'Single dwelling',
       'Special property', 'Villa', 'Baden-Württemberg', 'Bayern', 'Berlin',
       'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern',
       'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland',
       'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'],
      dtype='object')

In [53]:
X = df8.drop('Price', axis = 'columns')
y = df8.Price

In [54]:
X.columns

Index(['Lot', 'Bathrooms', 'Floors', 'Garages', 'rooms', 'Bungalow', 'Castle',
       'Corner house', 'Duplex', 'Farmhouse', 'Mid-terrace house',
       'Multiple dwelling', 'Residential property', 'Single dwelling',
       'Special property', 'Villa', 'Baden-Württemberg', 'Bayern', 'Berlin',
       'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern',
       'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland',
       'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'],
      dtype='object')

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=27)

In [58]:
from sklearn.preprocessing import MinMaxScaler

norm = MinMaxScaler().fit(X_train)

X_train_norm = norm.transform(X_train)

X_test_norm = norm.transform(X_test)

In [59]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_norm, y_train)
model.score(X_test_norm, y_test)

0.3187751736732184

In [60]:
import numpy as np

In [61]:
x = np.zeros(len(X.columns))
x.shape

(32,)

In [62]:
def predict_price(State,Type, Lot, Bathrooms, Floors, Garages, rooms):    
    loc_index = np.where(X.columns==State)[0][0]
    type_index = np.where(X.columns==Type)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = Lot
    x[1] = Bathrooms
    x[2] = Floors
    x[3] = Garages
    x[4] = rooms
    if loc_index >= 0:
        x[loc_index] = 1
    if type_index >= 0:
        x[type_index] = 1


    return model.predict([x])[0]

In [64]:
predict_price('Hessen','Mid-terrace house',300, 3, 3,2,2)

177248256.0

In [65]:
import pickle
with open('germany_home_prices_model.pickle','wb') as f:
    pickle.dump(model,f)

In [66]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))